<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--mybatis和spring进行整合时可以去掉数据源-->
    <!--<properties resource = "config/jdbc.properties"/>-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <package name="com.lingnan.mybatisdemo.bean"/>
        <!--<typeAlias type="com.lingnan.mybatisdemo.bean.Category" alias="Category"/>-->
        <!--<typeAlias type="com.lingnan.mybatisdemo.bean.Book" alias="Book"/>-->
    </typeAliases>

    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC"/>-->
            <!--<dataSource type="pooled">-->
                <!--<property name="driver" value="${driver}"/>-->
                <!--<property name="url" value="${url}"/>-->
                <!--<property name="username" value="${account}"/>-->
                <!--<property name="password" value="${password}"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->
    <mappers>
        <!--<mapper resource="config/categoryMapper.xml"/>-->
        <!--<mapper resource="config/bookMapper.xml"/>-->
        <!--命名和位置规范时，在spring配置文件中注明的mapper扫描类将自动加载类名.xml文件-->
        <!--<package name="com.lingnan.mybatisdemo.mapper"/>-->
        <!--<mapper resource="BookMapper.xml"/>-->
    </mappers>
</configuration>