<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingnan.mybatisdemo.mapper.BookMapper">


    <select id="getBooksByCategoryName" parameterType="javafx.beans.property.SimpleStringProperty" resultType="Book">
        SELECT book.book_name bookName, book.isbn, book.price, book.publish_date publishDate, book.publisher, book.book_image bookImage
        from book WHERE book.category_id IN (
            SELECT category.id FROM category
            WHERE category.name LIKE
                <bind name="pattern" value="'%' + name + '%'"/> #{pattern}
        )
    </select>



    <select id="selectCategoryForBook" parameterType="int" resultType="Category">
        SELECT id, name FROM category WHERE id = #{categoryId}
    </select>

    <resultMap id="selectBooks" type="Book">
        <id column="isbn" property="isbn"/>
        <result column="book_name" property="bookName"/>
        <result column="book_price" property="price"/>
        <result column="publish_date" property="publishDate"/>
        <result column="publisher" property="publisher"/>
        <result column="book_image" property="bookImage"/>
        <association property="category" column="category_id" select="selectCategoryForBook" />
    </resultMap>

    <select id="findAllBooks" resultMap="selectBooks">
        SELECT book.isbn, book.book_name , book.category_id , book.price, book.publish_date , book.publisher, book.book_image
        FROM book
    </select>

    <resultMap id="findAllWithCategoryMap" type="Book">
        <id column="isbn" property="isbn"/>
        <result column="book_name" property="bookName"/>
        <result column="price" property="price"/>
        <result column="book_price" property="price"/>
        <result column="publish_date" property="publishDate"/>
        <result column="publisher" property="publisher"/>
        <result column="book_image" property="bookImage"/>
        <association property="category" column="category_id"  javaType="com.lingnan.mybatisdemo.bean.Category">
            <id column="category_id" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <select id="findAllBooksWithCategory" resultMap="findAllWithCategoryMap">
        SELECT *
        FROM category, book
        WHERE category.id = book.category_id
    </select>

    <!-- 通过书籍名称查找书籍信息 -->
    <select id="findBookWithBookCondition" resultType="Book" parameterType="Book">
        SELECT *
        FROM book
        <if test="isbn != null">
            WHERE isbn = #{isbn}
        </if>
    </select>


    <!--多条件组合查询-->
    <select id="findBooksWithMultipleCondition" parameterType="Book" resultMap="findAllWithCategoryMap">
        SELECT *
        FROM book
        <!--<where>-->
            <!--<if test="isbn != null">-->
                <!--isbn like "%"#{isbn}"%"-->
            <!--</if>-->
            <!--<if test="bookName != null">-->
                <!--and book_name like  "%"#{bookName}"%"-->
            <!--</if>-->
        <!--</where>-->
        <trim prefix="where" prefixOverrides="and| or">
            <if test="isbn != null">
            isbn like "%"#{isbn}"%"
            </if>
            <if test="bookName != null">
            and book_name like  "%"#{bookName}"%"
            </if>
        </trim>
    </select>

    <!--delete insert update select -->

    <update id="updateBooksWithMultipleCondition">
        UPDATE book
        <!--<set>-->
            <!--<if test="bookName != null">-->
                <!--book_name = #{bookName},-->
            <!--</if>-->
            <!--<if test="price != null">-->
                <!--price = #{price},-->
            <!--</if>-->
        <!--</set>-->
        <trim prefix="set" suffixOverrides=",">
            <if test="bookName != null">
                book_name = #{bookName},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
        </trim>
        WHERE isbn = #{isbn}
    </update>


    <!--按isbn集合查找书籍-->
    <select id="findBooksByIsbnList" resultMap="findAllWithCategoryMap">
        SELECT *
        FROM book
        WHERE isbn IN
        <foreach collection="list" open="(" close=")" separator="," index="index" item="item">
            #{item}
        </foreach>
    </select>

    <!--按isbn数据批量删除书籍-->
    <delete id="deleteByIsbnList" parameterType="string">
        DELETE 
        FROM book
        WHERE isbn IN
        <foreach collection="array" item="item" index="index" separator="," close=")" open="(">
            #{item}
        </foreach>
    </delete>

    <!--批量更新-->
    <update id="updateBooks" parameterType="Book">
        UPDATE book
        <set>
            book_name = case isbn
              <foreach collection="list" index="index" item="item">
                  <choose>
                      <when test="item.bookName != null">
                          when #{item.isbn} then #{item.bookName}
                      </when>
                      <otherwise>
                          WHEN #{item.isbn} THEN book_name
                      </otherwise>
                  </choose>
              </foreach>
            END,
            price = case isbn
            <foreach collection="list" index="index" item="item">
                <choose>
                    <when test="item.price != null">
                        when #{item.isbn} then #{item.price}
                    </when>
                    <otherwise>
                        WHEN #{item.isbn} THEN price
                    </otherwise>
                </choose>
            </foreach>
            END,
        </set>
        where isbn IN
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item.isbn}
        </foreach>
    </update>

    <!--批量插入书籍信息-->
    <insert id="addBooks" parameterType="Book">
        INSERT INTO book
            <trim prefix="values">
                <foreach collection="list" separator="," item="item" index="index">
                    (#{item.isbn}, #{item.bookName}, #{item.price},
                    #{item.publishDate}, #{item.publisher}, #{item.category.id}, #{item.bookImage})
                </foreach>
            </trim>
    </insert>

    <!--分页查询-->
    <sql id="pagerCondition">
        <where>
            book.category_id = category.id
            <if test=" param != null and  param.bookName != null">
                and book_name like "%"#{param.bookName}"%"
            </if>
            <if test="param != null and param.isbn != null">
                and isbn like "%"#{param.isbn}"%"
            </if>
            <if test="param != null and param.category != null">
                and category.id = #{param.category.id}
            </if>
            <if test="param != null and param.publisher != null">
                and publisher like "%"#{param.publisher}"%"
            </if>
        </where>
    </sql>
    <select id="findByPager" parameterType="Pager" resultMap="findAllWithCategoryMap">
        SELECT *
        FROM book, category
        <include refid="pagerCondition"/>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="countForPager" parameterType="Pager" resultType="int">
        SELECT count(*)
        FROM book, category
        <include refid="pagerCondition"/>
    </select>

</mapper>